:root {
  --bg-color1: #212529;
  --bg-color2: #2a2b2d;
  --aqi-1: #d4e157;
  --aqi-2: #ffee58;
  --aqi-3: #ffca28;
  --aqi-4: #ff7043;
  --aqi-5: #ff5350;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color1);
  background-image: url(../img/ClearSkySunny/clearSky2.jpg);
  background-size: cover;
  color: #fff;
  font-family: sans-serif;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

hr {
  margin-bottom: 10px;
}

.container {
  padding: 0 15px;
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px;
  z-index: 11;

  & #city_input {
    background-color: var(--bg-color2);
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px;
    color: #fff;
    &:focus {
      outline: none;
    }
  }
  & #searchBtn {
    border: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 25px;
    background-color: #fff;
    cursor: pointer;
  }
  & #locationBtn {
    border: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 25px;
    background-color: #ea6e4b;
    cursor: pointer;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__logo {
  height: 50px;
  width: 50px;
}

.card {
  /*   background-color: var(--bg-color2); */
  background: rgba(42, 43, 45, 0.95);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  & p {
    font-size: 14px;
    color: #999;
  }
  & h2 {
    font-size: 32px;
    font-weight: 500;
  }
}

.weather-data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  & .weather-left {
    grid-column: span 1;
    & .current-weather {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & h2 {
        margin: 7px 0;
      }
      & p {
        color: #fff;
      }
    }
    & .card-footer p {
      font-size: 14px;
      margin-bottom: 12px;
    }
    & .forecast-item {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
      margin-bottom: 15px;
      & .icon-wrapper {
        display: flex;
        align-items: center;
      }
    }
  }
  & .weather-right {
    grid-column: span 3;
    & h2 {
      margin-bottom: 10px;
    }
    & .highlights {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 15px;
      & .card:nth-of-type(1),
      & .card:nth-of-type(2) {
        grid-column: span 2;
      }
      & .card-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        & .air-index {
          color: #000;
          padding: 5px 10px;
          border-radius: 15px;
          width: 150px;
          text-align: center;
          &.aqi-1 {
            background-color: var(--aqi-1);
          }
          &.aqi-2 {
            background-color: var(--aqi-2);
          }
          &.aqi-3 {
            background-color: var(--aqi-3);
          }
          &.aqi-4 {
            background-color: var(--aqi-4);
          }
          &.aqi-5 {
            background-color: var(--aqi-5);
          }
        }
      }
      & .air-indices {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        & p {
          text-align: center;
        }
      }
      & .sunrise-sunset {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        & .item {
          display: flex;
          align-items: center;
          gap: 10px;
          & h2 {
            margin-top: 15px;
          }
        }
      }
      & .card-item {
        display: flex;
        justify-content: space-between;
      }
    }
    & .hourly-forecast {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      column-gap: 10px;
      & .card {
        text-align: center;
      }
    }
  }
}

.card-footer {
  display: flex;
  flex-direction: column;
}

.weatherImg {
  height: 100px;
  width: 100px;
  grid-column: 2/3;
  align-self: end;
  justify-self: end;
}

.feelsLike__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.feelsLike__card-head {
  grid-column: 1/3;
  text-align: center;
  color: #999;
  align-self: end;
}

.feelsLike__card-item {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  & h2 {
    margin-left: 10px;
  }
}

@media (max-width: 1100px) {
  .weather-data {
    grid-template-columns: repeat(3, 1fr);
    & .weather-right {
      grid-column: span 2;
      & .highlights {
        grid-template-columns: repeat(3, 1fr);
        & .card:nth-of-type(1) {
          grid-column: span 3;
        }
      }
      & .hourly-forecast {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}

@media (max-width: 1040px) {
  .weather-data {
    grid-template-columns: repeat(2, 1fr);
    & .weather-right {
      grid-column: span 1;
      & .highlights {
        grid-template-columns: repeat(2, 1fr);
        & .card:nth-of-type(1) {
          grid-column: span 2;
        }
      }
      & .hourly-forecast {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media (max-width: 992px) {
  .weather-data .weather-right .highlights {
    & .card {
      grid-column: span 2;
    }
    & .air-indices {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 850px) {
  .header__wrapper {
    gap: 4px;
  }
  .weather-data {
    grid-template-columns: 1fr;
    & .weather-right .highlights {
      & .card:nth-of-type(3),
      & .card:nth-of-type(4),
      & .card:nth-of-type(5),
      & .card:nth-of-type(6),
      & .card:nth-of-type(7) {
        grid-column: span 1;
      }
      & .air-indices {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
}

@media (max-width: 660px) {
  .header {
    & h2 {
      margin-bottom: 8px;
    }
    & #city_input {
      display: none;

      width: 100vw;
    }
  }
}

/* @media (max-width: 660px) {
  .header {
    display: none;
    flex-direction: column;
    & h2 {
      margin-bottom: 8px;
    }
    & #city_input,
    #searchBtn,
    #locationBtn {
      width: 100%;
      margin-bottom: 10px;
    }
  }
} */

@media (max-width: 580px) {
  .weather-data .weather-right .highlights .air-indices {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 520px) {
  .weather-data .weather-right .highlights {
    & .card:nth-of-type(3),
    & .card:nth-of-type(4),
    & .card:nth-of-type(5),
    & .card:nth-of-type(6),
    & .card:nth-of-type(7) {
      grid-column: span 2;
    }
    & .air-indices {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 480px) {
  .weather-data .weather-right .highlights .sunrise-sunset {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .header {
    & h2 {
      display: none;
    }
  }
  .weather-data .weather-right .hourly-forecast {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 380px) {
  .weather-data .weather-right .highlights .air-indices {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ПРокрутка!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media (min-width: 850px) and (max-width: 1100px) {
  .weather-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

  .weather-left {
    flex: 1;
    position: sticky;
    top: 0;
    height: auto;
  }

  .weather-right {
    flex: 1;
    overflow-y: auto;
    max-height: 100vh;
  }

  .weather-right::-webkit-scrollbar {
    width: 0px;
  }
}

/* *********************** */

.autocomplete {
  position: relative;
}

#autocomplete-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--bg-color1);
  outline: 1px solid #000;
  outline-offset: -1px;
  overflow-y: auto;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 15px;
}

#autocomplete-list li {
  padding: 10px;
  cursor: pointer;
}

#autocomplete-list li:hover {
  background-color: var(--bg-color2);
}

/* //////////////////////////////////////////////////////// */

#cityModal {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#cityModal.show {
  display: block;
  opacity: 1;
  visibility: visible;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  & #modalCityInput {
    width: 80%;
    background-color: var(--bg-color2);
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px;
    color: #fff;
    &:focus {
      outline: none;
    }
  }
  & #modalSearchBtn {
    border: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 25px;
    background-color: #fff;
    cursor: pointer;
  }
}

.modal-content {
  background: var(--bg-color1);
  padding: 20px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 50px);
  & h3 {
    padding: 10px;
  }
}

.modal-close {
  justify-self: end;

  font-size: 50px;
  cursor: pointer;
}

.modalAutocomplete {
  position: relative;
}

#modalAutocomplete-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--bg-color1);
  outline: 1px solid #000;
  outline-offset: -1px;
  overflow-y: auto;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 15px;
}

#modalAutocomplete-list li {
  padding: 10px;
  cursor: pointer;
}

#modalAutocomplete-list li:hover {
  background-color: var(--bg-color2);
}

/* ?????????????????????????????????? */
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95); /* Затемненный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  visibility: hidden; /* По умолчанию скрыт */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.show-spinner {
  visibility: visible; /* Показываем спиннер */
}
